.registration {
    background-color: #BFDFDF;
}

.input-field {
    background-color: #008272;   
}

.btn-1 {
    background-color: #008272;
}
.btn-1:hover {
    background-color: #00564B;
}
.btn-1:focus {
    background-color: #00564B;
    /* border: none; */
    box-shadow: none;
}
.btn-1::click {
    background-color: #00564B;
    /* box-shadow: none; */
}

.custombg {
    background-color: #BFDFDF;
    border-color: #008272;
}

.custombgdark {
    background-color: #008272;
    /* border-color: ; */
}

.invalid-warning {
    color : #E5052E;
}

.radiogender {
    border-width: 1px;
    border-style: solid;
    border-color: #008272;
    border-radius: 4px;
    
}